	<div class="row">
		<div class="col s2" ng-click="alert('13');">
			<div class="card-panel teal">	
				<div class="white-text center">
					<a href="#!/dashboard" style="color: white;">	
		          		<i class="large material-icons">done</i>
		          		<p class="large center">
		          			<font size="12">
		          				{{chamadosAbertos}}
		          			</font>
		          			<p>
		          				Chamado(s) aberto(s)
		          			</p>
		          		</p>
		          	</a>	
          		</div>
	        </div>
		</div>
		<div class="col s2">
			<div class="card-panel amber">
	          	<div class="white-text center">
		          	<a href="#!/chamadosSolucionados" style="color: white;">
		          		<i class="large material-icons">done_all</i>
		          		<p class="large center">
		          			<font size="12">
		          				{{chamadosSolucionados}}
		          			</font>
		          			<p>
		          				Chamado(s) solucionado(s)
		          			</p>
		          		</p>
		          	</a>	
	      		</div>
	        </div>
		</div>	
		<div class="col s2">
			<div class="card-panel lime">
	         	<div class="white-text center">
	          		<i class="large material-icons">trending_up</i>
	          		<p class="large center">
	          			<font size="12">
	          				{{chamadosTotal}}
	          			</font>
	          			<p>
	          				Total de chamado(s)
	          			</p>
	          		</p>
          		</div>
	        </div>
		</div>
		<div class="col s2">
			<div class="card-panel red darken-2">
	         	<div class="white-text center">
					<a href="#!/chamadosDenunciados" style="color: white;">         	         	
		          		<i class="large material-icons">warning</i>
		          		<p class="large center">
		          			<font size="12">
		          				{{chamadosDenunciados}}
		          			</font>
		          			<p>
		          				Chamado(s) denunciado(s)
		          			</p>
		          		</p>
		          	</a>	
          		</div>
	        </div>
		</div>	
		<div class="col s2">
			<div class="card-panel deep-purple">
	         	<div class="white-text center">
					<a href="#!/chamadosDenunciados" style="color: white;">         	
		          		<i class="large material-icons">toc</i>
		          		<p class="large center">
		          			<font size="12">
		          				C
		          			</font>
		          			<p>
		          				Categorias de chamado
		          			</p>
		          		</p>
		          	</a>	
          		</div>
	        </div>
		</div>	
			<div class="col s2">
			<div class="card-panel grey">
	         	<div class="white-text center">
					<a href="#!/chamadosDenunciados" style="color: white;">         	
		          		<i class="large material-icons">power_settings_new</i>
		          		<p class="large center">
		          		<font size="12">
		          				X
		          			</font>
		          			<p>
		          				Sair do sistema com segurança
		          			</p>
		          		</p>
		          	</a>	
          		</div>
	        </div>
		</div>	
	</div>	

	  <div class="card-panel purple darken-1 lighten-2 white-text center-align">
	  	<i class="material-icons">warning</i> <h6><strong>Atenção</strong> esta área é a área de chamados já solucionados! </h6>
	  </div>

	<table class="highlight">
		<thead>
		  <tr>
		  	  <th>Cod.</th>
		      <th>Titulo</th>
		      <th>Data</th>
		      <th>Descrição</th>
		      <th>Local</th>
		      <th>Link da imagem</th>
		      <th>Nome</th>
		      <th>Contato</th>
		      <th>Ações</th>
		  </tr>
		</thead>

		<tbody>
		  <tr ng-repeat="chamado in chamados | orderBy: '-controle_data'" ng-show="chamado.tipo === 'fechado'">
		  	<td>{{chamado.controle_data}}</td>
		    <td>{{chamado.titulo}}</td>
		    <td>{{chamado.criado_em}}</td>
		    <td>{{chamado.texto}}</td>
		    <td>{{chamado.local}}</td>
		    <td><a ng-href="{{chamado.imagem_url}}" target="_blank"> Link </a>
		    <td>{{chamado.nome}} </td>
		    <td>{{chamado.contato}}</td>
		    <td> <a class="btn-floating waves-effect waves-light green" ng-click="reabrir(chamado.controle_data)"><i class="material-icons">done</i></a></td>
		    <td> <a class="btn-floating waves-effect waves-light red"><i class="material-icons" ng-click="apagar(chamado.controle_data)">delete</i></a></td>
		  </tr>
		</tbody>
	</table>
	<div class="right-align">
		 <a class="btn-floating waves-effect waves-light green"><i class="material-icons">done</i></a> <strong>Reabrir chamado</strong> | <a class="btn-floating waves-effect waves-light red"><i class="material-icons">delete</i></a> <strong>Excluir</strong>
	</div>

