    <div class="header"> 
	  <nav>
	    <div class="nav-wrapper">
	      <a href="#" class="brand-logo center">Logo</a>
	      <ul id="nav-mobile" class="left hide-on-med-and-down">
	        <li><a href="sass.html">Chamados abertos</a></li>
	        <li><a href="badges.html">Chamados solucionados</a></li>
	        <li><a href="collapsible.html">Chamados denunciados</a></li>
	      </ul>
	    </div>
	  </nav>
    </div>

<div class="container">
	<div class="row">
		<div class="col s4">
			<div class="card-panel teal">	
				<div class="white-text center">
	          		<i class="large material-icons">done</i>
	          		<p class="large center">
	          			<font size="12">
	          				{{chamadosAbertos}}
	          			</font>
	          			<p>
	          				Chamados abertos
	          			</p>
	          		</p>
          		</div>
	        </div>
		</div>
		<div class="col s4">
			<div class="card-panel amber">
	          	<div class="white-text center">
	          		<i class="large material-icons">done_all</i>
	          		<p class="large center">
	          			<font size="12">
	          				{{chamadosSolucionados}}
	          			</font>
	          			<p>
	          				Chamados solucionados
	          			</p>
	          		</p>
          		</div>
	        </div>
		</div>	
		<div class="col s4">
			<div class="card-panel lime">
	         	<div class="white-text center">
	          		<i class="large material-icons">trending_up</i>
	          		<p class="large center">
	          			<font size="12">
	          				{{chamadosTotal}}
	          			</font>
	          			<p>
	          				Total de chamados
	          			</p>
	          		</p>
          		</div>
	        </div>
		</div>	
	</div>	
</div>

<div class="valign-wrapper">
  <h5 class="valign">Chamados abertos</h5>
</div>

<table class="highlight">
	<thead>
	  <tr>
	      <th>Titulo</th>
	      <th>Descrição</th>
	      <th>Local</th>
	      <th>Link da imagem</th>
	      <th>Nome</th>
	      <th>Ações</th>
	  </tr>
	</thead>

	<tbody>
	  <tr>
	    <td>Lixo jogado na rua da minha casa</td>
	    <td>Há uma enorme quantidade de lixo jogado na  frente de minha minha casa, solicito a prefeitura para retirada do mesmo</td>
	    <td>Rua José Miranda da Mota, 692 - Serra do Sambê</td>
	    <td><a href=https://firebasestorage.googleapis.com/v0/b/prefeitura-itaborai.appspot.com/o/chamados%2F13022017120231.jpg?alt=media&token=54636fcb-bea4-456e-8f3c-bb3946d1d769> Link </a>
	    <td>José Antônio </td>
	    <td> <a class="btn-floating waves-effect waves-light blue" alt="asd"><i class="material-icons">queue</i></a></td>
	    <td> <a class="btn-floating waves-effect waves-light green"><i class="material-icons">done_all</i></a></td>
	    <td> <a class="btn-floating waves-effect waves-light red"><i class="material-icons">delete</i></a></td>
	  </tr>
	  <tr>
	    <td>Alan</td>
	    <td>Jellybean</td>
	    <td>$3.76</td>
	  </tr>
	  <tr>
	    <td>Jonathan</td>
	    <td>Lollipop</td>
	    <td>$7.00</td>
	  </tr>
	</tbody>
</table>
            