    <div class="header"> 
	  <nav>
	    <div class="nav-wrapper">
	      <a href="#" class="brand-logo">Central de Chamados</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="sass.html">Chamados abertos</a></li>
	        <li><a href="badges.html">Chamados solucionados</a></li>
	        <li><a href="collapsible.html">Chamados denunciados</a></li>
	      </ul>
	    </div>
	  </nav>
    </div>

	<div class="row">
		<div class="col s3" ng-click="alert('13');">
			<div class="card-panel teal">	
				<div class="white-text center">
					<a href="#!/dashboard" style="color: white;">	
		          		<i class="large material-icons">done</i>
		          		<p class="large center">
		          			<font size="12">
		          				{{chamadosAbertos}}
		          			</font>
		          			<p>
		          				Chamado(s) aberto(s)
		          			</p>
		          		</p>
		          	</a>	
          		</div>
	        </div>
		</div>
		<div class="col s3">
			<div class="card-panel amber">
	          	<div class="white-text center">
		          	<a href="#!/chamadosSolucionados" style="color: white;">
		          		<i class="large material-icons">done_all</i>
		          		<p class="large center">
		          			<font size="12">
		          				{{chamadosSolucionados}}
		          			</font>
		          			<p>
		          				Chamado(s) solucionado(s)
		          			</p>
		          		</p>
		          	</a>	
	      		</div>
	        </div>
		</div>	
		<div class="col s3">
			<div class="card-panel lime">
	         	<div class="white-text center">
	          		<i class="large material-icons">trending_up</i>
	          		<p class="large center">
	          			<font size="12">
	          				{{chamadosTotal}}
	          			</font>
	          			<p>
	          				Total de chamado(s)
	          			</p>
	          		</p>
          		</div>
	        </div>
		</div>
		<div class="col s3">
			<div class="card-panel red darken-2">
	         	<div class="white-text center">
	          		<i class="large material-icons">warning</i>
	          		<p class="large center">
	          			<font size="12">
	          				{{chamadosTotal}}
	          			</font>
	          			<p>
	          				Chamado(s) denunciado(s)
	          			</p>
	          		</p>
          		</div>
	        </div>
		</div>	
	</div>	


	<div class="valign-wrapper col s4 offset-s4 card">
	  <div class="card-panel blue darken-2 lighten-2 white-text">
	  	<i class="material-icons">warning</i> <strong>Atenção</strong> esta área é a área de chamados ainda abertos!
	  </div>
	</div>

	<table class="highlight">
		<thead>
		  <tr>
		      <th>Titulo</th>
		      <th>Descrição</th>
		      <th>Local</th>
		      <th>Link da imagem</th>
		      <th>Nome</th>
		      <th>Ações</th>
		  </tr>
		</thead>

		<tbody>
		  <tr ng-repeat="chamado in chamados | orderBy: '-controle_data'" ng-show="chamado.tipo === 'aberto'">
		    <td>{{chamado.titulo}}</td>
		    <td>{{chamado.texto}}</td>
		    <td>{{chamado.local}}</td>
		    <td><a ng-href="{{chamado.imagem_url}}" target="_blank"> Link </a>
		    <td>{{chamado.nome}} </td>
		    <td> <a class="btn-floating waves-effect waves-light blue" ng-click="responder(chamado.controle_data)"><i class="material-icons">queue</i></a></td>
		    <td> <a class="btn-floating waves-effect waves-light green" ng-click="finalizar(chamado.controle_data)"><i class="material-icons">done_all</i></a></td>
		    <td> <a class="btn-floating waves-effect waves-light red"><i class="material-icons" ng-click="apagar(chamado.controle_data)">delete</i></a></td>
		  </tr>
		</tbody>
	</table>
	<div class="right-align">
		<span class="btn-floating waves-effect waves-light blue"><i class="material-icons">queue</i></span> <strong>Responder</strong> | <a class="btn-floating waves-effect waves-light green"><i class="material-icons">done_all</i></a> <strong>Finalizar</strong> | <a class="btn-floating waves-effect waves-light red"><i class="material-icons">delete</i></a> Excluir
	</div>

